---
import { getCollection } from "astro:content";
import HorizontalCard from "@components/HorizontalCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import createSlug from "../../../../lib/createSlug";

// Fetch all blog posts for pagination
const allPosts = await getCollection("blog");

// Filter posts by tag
const tag = Astro.params.tag;
const filteredPosts = allPosts.filter(post => post.data.tags && post.data.tags.includes(tag));

// Ensure pagination works: Split the posts into pages
const pageSize = 10; // Number of posts per page
const totalPages = Math.ceil(filteredPosts.length / pageSize);
const currentPage = Number(Astro.params.page) || 1;
const pageData = filteredPosts.slice((currentPage - 1) * pageSize, currentPage * pageSize);

// Ensure that pageData is available before rendering
if (!pageData) {
  throw new Error(`No posts found for the tag "${tag}" on page ${currentPage}`);
}

---

<BaseLayout title={`Blog - ${tag}`} sideBarActiveItemID="blog">
  <div class="mb-5 flex justify-center items-center font-specialelite">
    <div class="text-3xl font-bold pt-12 pb-6">Writings - {tag}</div>
  </div>

  {pageData.length === 0 ? (
    <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
      <p class="font-bold">Sorry!</p>
      <p>There are no blog posts to show at the moment. Check back later!</p>
    </div>
  ) : (
    <ul>
      {pageData.map(post => (
        <HorizontalCard
          key={post.slug}
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={`/blog/${createSlug(post.data.title, post.slug)}`}
          target="_self"
          badge={post.data.badge}
          tags={post.data.tags}
        />
      ))}
    </ul>
  )}

  <div class="flex justify-between">
    {currentPage > 1 ? (
      <a href={`/blog/tag/${tag}/${currentPage - 1}`} class="btn btn-ghost my-10 mx-5">
        Previous
      </a>
    ) : (
      <div />
    )}
    {currentPage < totalPages ? (
      <a href={`/blog/tag/${tag}/${currentPage + 1}`} class="btn btn-ghost my-10 mx-5">
        Older Posts
      </a>
    ) : (
      <div />
    )}
  </div>
</BaseLayout>
