---
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import createSlug from "../lib/createSlug";

// Fetch all projects for pagination
const all_projects = await getCollection("projects");

// Sort projects by pubDate in descending order (newest first)
const sortedProjects = all_projects.sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(); // Convert to timestamps
});

const pageSize = 6; // Number of projects per page
const totalPages = Math.ceil(sortedProjects.length / pageSize);

// Determine the current page
const currentPage = Number(Astro.params.page) || 1;
const pageStart = (currentPage - 1) * pageSize;
const pageData = sortedProjects.slice(pageStart, pageStart + pageSize);
---

<BaseLayout title={`Projects - Page ${currentPage}`} sideBarActiveItemID="projects">
  <div class="mb-5 flex justify-center items-center font-specialelite">
    <div class="text-3xl font-bold pt-12 pb-6">Projects</div>
  </div>

  {pageData.length === 0 ? (
    <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
      <p class="font-bold">Sorry!</p>
      <p>No projects to display at the moment. Check back soon!</p>
    </div>
  ) : (
    <ul>
      {pageData.map((project) => (
        <li key={project.slug}>
          <HorizontalCard
            title={project.data.title}
            img={project.data.heroImage}
            desc={project.data.description}
            url={`/projects/${createSlug(project.data.title, project.slug)}`} // Correct project link
            target="_self"
            badge={project.data.badge}
            tags={project.data.tags}
          />
        </li>
      ))}
    </ul>
  )}

  <div class="flex justify-between">
    {currentPage > 1 ? (
      <a href={`/projects/page/${currentPage - 1}`} class="btn btn-ghost my-10 mx-5">
        Previous
      </a>
    ) : (
      <div />
    )}
    {currentPage < totalPages ? (
      <a href={`/projects/page/${currentPage + 1}`} class="btn btn-ghost my-10 mx-5">
        Next
      </a>
    ) : (
      <div />
    )}
  </div>
</BaseLayout>
